/** General page styling **/
html {
  background-color: #e5e5e5;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif,Microsoft JhengHei;
}

#main {
  margin: 30px 0;
  position: relative;
}

#banner{
	background:url(images/adoption_head.png) no repeat-y;
	width:100%;
	
}

h5{
	font-family:"Microsoft JhengHei";
	font-size:24px;
	font-weight:bold;
	
}

.search{
	font-weight:bold;
	text-align:center;
	position:fixed;
	left:20px;
	top:186px;
	background-color:#f38a8d;
	width:14%;
	height:100%;
	z-index:100;
}

.banner{
	position:absolute;  /**這邊是上面的banner文字**/
	background-color: #e5e5e5;
	max-height:140px;
	width:100%;
	z-index:210;
	top:10px;
}

a{
  text-decoration:none;
  font-weight:bold;
  color:#57caff;
}

header h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  margin: 70px 0 10px 0;

}

header p {
  text-align: center;
  font-size: 14px;
  color: #666666;
  margin: 0;
  font-weight: 200;

}

/**
 * Grid container
 */
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin-top:0;
  margin-left:200px;
  padding: 0;
}

/**
 * Grid items
 */
#tiles li {
  width: 220px;
  margin-top:0;          /**這邊是下拉是的選單**/
  background-color:rad;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  padding: 4px;
}

#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}
/**
 * Grid item text
 */
#tiles li p {
  color: #666;
  font-size: 13px;
line-height: 20px;
text-align: center;
font-weight: 200;
  margin: 7px 0 2px 7px;
}

footer {
  text-align: center;

}

footer a {
  color: #435DC5;
  text-decoration: none;
}

/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
  background-color: #0BC20B;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}

/**
 * Placerholder css
 */

.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}

.example-tiles {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

.example-tiles li {
  display: block;
  list-style-type: none;
  float: left;
  margin: 5px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.example-tiles a,
.example-tiles a:hover {
  color: #555;
  background-color: #eee;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 5px 8px;
  border-radius: 3px;
}

.example-tiles a:hover {
  background-color: #ddd;
}
/* ---------- 大小與定位 ---------- */
#menu {
  /* 選單大小 */
position:fixed;
background-color:#f1f1f1;
width:100%;
height:40px;
top:0px;
z-index:50;
font-family:Microsoft JhengHei;
}

#menu ul {
  /* 取消ul樣式符號 */
  list-style-type:none;
  /* 重設ul邊界與留白為零 */
  margin:0;
  padding:0;
  /* 內有浮動元件時，需設overflow才會自動調整大小 */
  overflow:auto;
}

#menu ul li {
  /* 利用float讓第一層li水平排列 */
  float:left;
}

#menu ul li a {
  /* 將a改為區塊元件，以便指定寬高 */
  display:block;
  /* 這邊也要設float，否則IE6會以100%寬度顯示 */
  float:left;
  /* 固定高度 */
  height:40px;
  width: 100px;
  text-align: center;
}
#menu ul li ul {
  /* 讓第二層ul跳脫文件流以利定位 */
  position:absolute;
  /* 固定寬度 */
  width:100px;
  /* 避免出現捲軸 */
  overflow:visible;
  /* 讓ul與母階層li相同位置 */
  clear:left;
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

#menu ul li ul li {
  /* 覆寫繼承自第一層的浮動設定 */
  float:none;
  text-align: center;
}
#menu ul li ul li a {
  /* 覆寫繼承自第一層的浮動設定 */
  float:none;
  width: 100%;/* 註：display、height、padding繼承第一層的設定 */
}
#menu ul li ul li form {
  /* 覆寫繼承自第一層的浮動設定 */
  background: #cccccc;
  float:none;
  width: 200px;/* 註：display、height、padding繼承第一層的設定 */
}
#menu ul li ul li ul {
  margin-top: -40px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 100px;
  width: 100%;
}
/* 修正IE7絕對定位差異 */
*:first-child+html #menu ul li ul li ul {
  margin-top:-40px;
}
#menu ul li ul li ul li {
/* width、float繼承第二層，免設定 */
}
#menu ul li ul li ul li a {
/* width、float繼承第二層，免設定 */
}
/* ---------- 隱藏與顯示階層 ---------- */
#menu ul li ul {
  /* 預先隱藏第二層 */
  visibility:hidden;
}
#menu ul li:hover ul {
  /* 觸動第一層時，顯示第二層 */
  visibility:visible;
}
#menu ul li:hover ul li ul {
  /* 顯示第二層時，隱藏第三層，避免同時彈出 */
  visibility:hidden;
}
#menu ul li ul li:hover ul {
  /* 觸動第二層時，顯示第三層 */
  visibility:visible;
}
#menu ul li ul li:hover ul li ul {
  /* 顯示第三層時，隱藏第四層，避免同時彈出 */
  visibility:hidden;
}
#menu ul li ul li ul li:hover ul {
  /* 觸動第三層時，顯示第四層 */
  visibility:visible;
}
/* ---------- 以下為美化用，非必需 ---------- */


/* 預設字體 */
#menu {
  font-size:15px;
  font-family:Microsoft JhengHei, Arial;
}
/* 第一層ul背景色彩與邊框 */
#menu ul {
  background:#f1f1f1;
}
/* 第一層a字型 */
#menu ul li a {
  color: black;
  text-decoration:none;
  top: 10%;
  line-height: 40px;
}
/*第二層ul背景色彩與邊框  */
#menu ul li ul {
  background:#cccccc;
}
/* 第二層a字型 */
#menu ul li ul li a {
  font-size:15px;
  color:#333333;
  text-decoration:none;
}
/* 觸動第一層li時，改變背景色 */
#menu ul li:hover, #menu ul li a:hover {
  background:#cccccc;
}
#menu ul li:hover a {
  color:#333333;
}
/* 觸動第二層以上li時改變背景色 */
#menu ul li ul li:hover, #menu ul li ul li a:hover {
  background:#ccccff;
}
#signin{

font-size:15px;
color:black;
position:absolute;
margin-left:750px;
margin-top:0px;
height:40px;

}
#id{

font-size:15px;
color:black;
position:absolute;
margin-left:750px;
margin-top:0px;
height:40px;

}

#qlogin{
position:absolute;
margin-left:700px;
top:0px;
height:120px;
width:200px;
}
#profile{
background: #cccccc;
position:absolute;
margin-left:750px;
top:0px;
height:120px;
width:200px;
}
#logout{
background: #cccccc;
position:absolute;
margin-left:750px;
margin-top:40px;
height:120px;
width:200px;
}

.fb-login-button{
position:absolute;
width:110px;
height:30px;

}
#g-login-button{
position:absolute;
width:110px;
height:30px;

}
#search {
width: 200px;
height: 24px;
padding-left: 22px;
float: left;
background: url(http://lh4.ggpht.com/_HjB26hkIEK8/S4UX4mBAUJI/AAAAAAAAJ-w/lhFHjjiCmmw/Search%20007.gif) no-repeat;
position:absolute;
left:500px;
top:10px;
}

#s {
width: 170px;
border: none;
color: #000000;
font-family: Frutiger;
}

.img:{}
.img:hover .black{ background-color:white; opacity:.1;}
.img:hover .big{ margin-top:-110px; margin-left:0; color:#208290; text-align:center; font-size:13px;}
.big{font-size:0px;}
.img:hover .dog_name{ margin-top:-60px; margin-left:0; text-align:left; font-size:15px; font-family: Arial; font-weight:bold;color:#208290;}
.dog_name{ font-size:0px; position:absolute; top:70px; left:50px; z-index:3; color:black;}